*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

.banner{
    object-fit: cover;
    object-position: center;
    width: 1000px;
    height: 300px;
    display: inline-block;
    position: relative;
    border-style: solid;
    border-top-color: #7fa964;
    border-right-color: #7fa964;
    border-bottom-color: #607fb3;
    border-left-color: #607fb3;
    border-width: 10px;
}

a {
    padding: 10px 20px;
    border: unset;
    border-radius: 5px;
    color: #ffffff;
    z-index: 1;
    background: #607fb3;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    text-decoration: none;
    border-style: solid;
    border-color: black;
   }
   
   a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: none;
    background-color: #7fa964;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   a:hover {
    color: #e8e8e8;
    background-color: #7fa964;
   }
   
   a:hover::before {
    width: 100%;
   }

   h1{
    text-align: right;
    margin-right: 220px;
    margin-bottom: 0;
   }

   div{
    text-align: center;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 860px;
    height: 350px;
   }

   .logo{
    width: 150px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    vertical-align: middle;
    margin-bottom: 293px;
    float: left;
}

   h2{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 1015px;
    text-align: center;
   }