*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

body{
    margin: 10px 120px;
    border: 2px solid black;
    padding: 5px;
}

header{
    display: flex;
    justify-content: end;
}

h1{
    position: relative;
    top: 8px;
    border: 2px solid black;
    text-align: center;
}

h1:hover{
    background-color: black;
    color: grey;
}

.banner{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 300px;
    border-style: solid;
    border-top-color: #7fa964;
    border-right-color: #7fa964;
    border-bottom-color: #607fb3;
    border-left-color: #607fb3;
    border-width: 10px;
    position: relative;
    z-index: 1;
    display: block;
}

nav a {
    padding: 5px 10px;
    border-radius: 4px;
    color: #ffffff;
    background: #607fb3;
    position: relative;
    font-size: 17px;
    box-shadow: 2px 2px 2px black;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    z-index: 2;
    top: 5px;
}
   
nav a:hover {
    color: #e8e8e8;
    background-color: #7fa964;
}

h2{
    border: 2px solid black;
    text-align: start;
}

aside{
    border-right: 2px solid black;
    margin-top: 5px;
}

.logo{
    width: 150px;
}

main{
    display: flex;
    gap: 50px;
}

.informacion{
    margin-top: 15px;
}

p{
    padding-bottom: 10px;
}

#contact{
    margin-bottom: 10px;
}

.rules{
    text-align: center;
}

.titlesize{
    font-size: 20px;
}

.game{
    text-decoration: underline;
    font-style: italic;
}

.gamephone{
    display: inline-block;
}

.gameemail{
    display: inline-block;
    margin-left: 345px;
}

.gamequestion{
    margin-top: 30px;
}

.lista{
    margin-top: 20px;
}

dd,dt,li{
    margin-bottom: 15px;
}

.item{
    margin: 0;
}

li{
    margin-left: 20px;
}

tr,th,td{
    padding: 10px;
}

table{
    margin-bottom: 20px;
    text-align: center;
}

h4{
    margin-bottom: 15px;
}